<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="lpv.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <lpv.Properties.Settings>
      <setting name="scaleRate" serializeAs="String">
        <value>0.2</value>
      </setting>
      <setting name="resizeSpeed" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="refreshRate" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="maxImgHeightValue" serializeAs="String">
        <value>0.9</value>
      </setting>
      <setting name="minImgHeight" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="backgroundDim" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="moveSpeed" serializeAs="String">
        <value>10</value>
      </setting>
    </lpv.Properties.Settings>
  </userSettings>
</configuration>